@import url('../variables.css');

.logo-admin {
    background-color: var(--color-white);
    margin-top: 5%;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.admin-container {
    background: var(--color-light-grey);
}

.admin-component {
    background: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    margin-bottom: 10px;
}

.divider-admin {
    width: 100%;
    height: 1px;
    background-color: var(--color-lead);
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-item {
    color: var(--color-white);
    text-decoration: none;

}

.nav-toggle {
    background: var(--color-white);
}


/* BUTTONS AND CHECKBOX*/
.add-button-admin {
    background: none !important;
    color: var(--color-navy-blue);
    font-weight: bold;
    border: none;

}

.add-button-admin:hover {
    background: none !important;
    color: var(--color-water-green);
    border: none;

}

.button-save-admin{
    padding: 1% 2% 1% 2%;
    background: var(--color-blueberry);
}

.button-save-admin:hover{
    background: var(--color-dark-blueberry);
}

.button-save-admin:disabled{
    background: var(--color-dark-gray);
    border: var(--color-dark-gray);
}

.button-close-admin{
    padding: 1% 2% 1% 2%;
}

.button-container{
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; /* Espacio superior para separar del contenido */
}

.color-icon-edit {
    color: var(--color-yellow-gualda);

}

.color-icon-delete {
    color: var(--color-crimson);
}

.color-delete-admin {
    color: var(--color-crimson);
    
}

.selected-products-toolbar {
    color: var(--color-navy-blue2);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    background-color: var(--color-navy-blue3);
    border-radius: 5px 5px 0 0;
}

.link-action{
    text-decoration: none ;
}


/* MANAGEMENT PRODUCTS*/
.product-table {
    margin-bottom: 2%;
    border-radius: 10px;
    overflow: hidden;
    /* Para asegurar que el contenido de la tabla se ajuste al border-radius */
}

.form-admin{
    background: var(--color-white);
    padding: 20px;
    border-radius: 10px;

    .form-control{
        background: var(--color-light-grey);

    }
}