:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-light-grey: #F5F5F5;
    --color-light-grey2: #d4d4d488;
    --color-pale-brown: #A27863;
    --color-light-brown: #7a6659;
    --color-sepia-brown: #6F5D4F;
    --color-medium-dark-brown-ocher: #45382F;
    --color-dark-brown-ocher: #43362D;
    --color-yellow-gualda: #FFD700;
    --color-crimson: #DC143C;
    --color-lead:#C0C0C0;
    --color-lead2: #C5C5C5;
    --color-gold: #D4AF37;
    --color-navy-blue: #003366;
    --color-navy-blue2: #003366c6;
    --color-navy-blue3: #00336659;
    --color-dark-navy-blue: #000435;
    --color-water-green: #68ddbd;
    --color-dark-water-green: #68c4ab;
    --color-pink: #dd6888;
    --color-burgundy: #6D071A;
    --color-wine: #800020;
    --color-pale-pink: #A27863;
    --color-cream: #F5F5DC;
    --color-platinum: #E2DCD1;
    --color-line: #141a128f;
    --background-gradient-menu: radial-gradient(circle, rgba(244,194,194,1) 0%, rgba(109,7,26,0.9505703422053232) 90%);
    --background-header-store: linear-gradient(209deg, rgba(122,102,89,1) 0%, rgba(111,93,79,1) 25%, rgba(121,101,88,1) 37.5%, rgba(69,56,47,1) 50%, rgba(111,92,80,1) 75%, rgba(67,54,45,1) 100%);
    --fiber-background-gradient1: radial-gradient(circle, rgba(255,255,255,0.2) 1px, rgba(0,0,0,0) 1px);
    --fiber-background-gradient2: radial-gradient(circle, rgba(255,255,255,0.2) 1px, rgba(0,0,0,0) 1px);

}